<h1>Products</h1>
<h4>Add a Product</h4>
<form [formGroup]="productsForm">
    <label>Title: </label>
    <input type="text" formControlName="title"><br>
    <label>Description: </label>
    <input type="text" formControlName="description"><br>
    <label>Category: </label>
    <select formControlName="category">
        <option value="">-- Select --</option>
        <option value="beauty">Beauty</option>
        <option value="furniture">Furniture</option>
        <option value="fragrances">Fragrances</option>
        <option value="groceries">Groceries</option>
    </select><br>
    <button (click)="onSubmit()">Submit</button>
</form>
<ul *ngFor="let product of arr">
    <li>
        <p>{{ product.title }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.category | titlecase }}</p>

    </li>
</ul>
<div *ngIf="errorMessage.length">Error Occurred: {{ errorMessage }}</div>
