<h2>User Registration</h2>
<form [formGroup]="userRegForm">
  <label>Username: </label>
  <input
    type="text"
    formControlName="username"
    placeholder="Add username..."
  /><br />
  <p
    *ngIf="
      (username?.hasError('required') &&
        username?.touched) ||
      (username?.hasError('minlength') &&
        username?.touched)
    "
    [ngStyle]="{ color: 'red' }"
  >
    Username is required and must be at least 3 characters long
  </p>
  <p *ngIf="username?.hasError('userNameTaken') && username?.touched" [ngStyle]="{ color: 'red' }">
    Username is already taken
  </p>
  <label>Email: </label>
  <input type="text" formControlName="email" placeholder="Add email..." /><br />
  <p
    *ngIf="
      (email?.hasError('required') &&
        email?.touched) ||
      email?.hasError('email') &&
        email?.touched
    "
    [ngStyle]="{ color: 'red' }"
  >
    Please enter a valid email address
  </p>
  <label>Password: </label>
  <input
    type="password"
    formControlName="password"
    placeholder="Add password..."
  /><br />
  <p
    *ngIf="
      password?.hasError('required') &&
        password?.touched ||
      (password?.hasError('minlength') &&
        password?.touched)
    "
    [ngStyle]="{ color: 'red' }"
  >
    Password is required and must be at least 6 characters long
  </p>
  <label>Confirm Password: </label>
  <input
    type="password"
    formControlName="confirmpassword"
    placeholder="Re-enter password..."
  /><br />
  <p
    *ngIf="userRegForm.errors && confirmpassword?.touched"
    [ngStyle]="{ color: 'red' }"
  >
    Passwords do not match
  </p>
  <!-- Optional phone number; only required if phone is selected from dropdown -->
  <label>Phone Number: </label>
  <input
    type="tel"
    formControlName="phone"
    placeholder="Add phone number..."
  /><br />
  <p
  *ngIf="
    (phone?.hasError('minlength') || phone?.hasError('maxlength')) && phone?.touched
  "
  [ngStyle]="{ color: 'red' }"
>
  Enter phone number as: XXXXXXXXXX
</p>
  <p
  *ngIf="
    phone?.hasError('required') || phone?.hasError('minlength') || phone?.hasError('maxlength')
  "
  [ngStyle]="{ color: 'red' }"
>
  Required if phone is selected as contact method
</p>
  <label>Preferred Contact Method: </label>
  <select formControlName="contactmethod">
    <option value="">-- Select --</option>
    <option value="email">Email</option>
    <option value="phone">Phone</option></select
  ><br />
  <p
    *ngIf="
      contactmethod?.hasError('required') &&
      contactmethod?.touched
    "
    [ngStyle]="{ color: 'red' }"
  >
    Please provide at least one contact method
  </p>
  <button (click)="registerUser()" [disabled]="userRegForm.invalid">Submit</button>
</form>
